<html lang="ko">
	<head>
		<title>Mybury Admin</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="../../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="../../static/css/bootstrap/dashboard.css" rel="stylesheet">
	</head>
	<body>
		<div id="content">
			<header-menu></header-menu>


			<div class="container-fluid">
				<div class="row">
					<left-menu></left-menu>

					<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-3">

						<menu-name :menu-name="menuName" :is-search="false"></menu-name>

						<div class="table-responsive">
							<table class="table table-striped text-center text-vertical-middle">
								<thead>
									<tr>
										<th>#</th>
										<th>이름</th>
										<th>가격</th>
										<th>google key</th>
										<th>표시여부</th>
										<th>이미지</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="item in items">
										<td>{{item.id}}</td>
										<td>{{item.itemName}}</td>
										<td>{{item.itemPrice}}</td>
										<td>{{item.googleKey}}</td>
										<td>{{item.dpYn}}</td>
										<td>
											<img :src="item.itemImg" width="50"/>
										</td>
									</tr>
							</table>
						</div>
					</main>
				</div>
			</div>
		</div>

		<script src="../../static/js/vue/vue.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

		<script src="../../static/js/bootstrap/bootstrap.bundle.min.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script> -->

		<script type="module" src="../../static/js/vue/vue_support_item.js"></script>

<!--		<jsp:include page="./template_sources.jsp"/>-->
	</body>


</html>
