@charset "UTF-8";
@font-face {
	font-family: 'NanumBarunGothic';
	src: url(fonts/NanumBarunGothic.eot) format('embedded-opentype');
	src: url(fonts/NanumBarunGothic.ttf) format('truetype'),
		url(fonts/NanumBarunGothic.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'NanumBarunGothicBold';
	src: url(fonts/NanumBarunGothicBold.eot) format('embedded-opentype');
	src: url(fonts/NanumBarunGothicBold.ttf) format('truetype'),
		url(fonts/NanumBarunGothicBold.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NanumBarunGothicLight';
	src: url(fonts/NanumBarunGothicLight.eot) format('embedded-opentype');
	src: url(fonts/NanumBarunGothicLight.ttf) format('truetype'),
		url(fonts/NanumBarunGothicLight.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

body {width: 100%; height: 100%; margin: 0; font-family: 'NanumBarunGothic', sans-serif;}
span {line-height: 32px; letter-spacing: 0;}

.white {color: #ffffff;}
.light-orange {color: #ffd083;}

.contents {
    background-color: #537ef7;
    position: relative;
    height: 100vh;
}

.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}

.icon-wrap { display: none;}

.mybury-icon {
    margin: 116px 0 52px 213px;
    content: url(../img/web/mybury-logo.png);
}

.title-wrap-web { margin: 0 0 52px 213px}
.title-wrap-web .text-wrap span { display: block; font-size: 44px; line-height: 72px; color: #ffffff}
.title-wrap-web .text-wrap span:nth-child(odd) { font-family: NanumBarunGothicLight;}
.title-wrap-web .text-wrap span:nth-child(even) { font-family: NanumBarunGothicBold;}

.btn-wrap { margin: 0 0 72px 213px}
.btn-wrap a:first-child img {content: url(../img/web/btn-google.png);}
.btn-wrap a:last-child img {content: url(../img/web/btn-appstore.png);}

.title-wrap { display: none; }
.list-img-wrap { display: none;}

.cs-wrap {  margin: 0 0 0 213px;}
.cs-wrap .cs-1 { height: 36px; margin-bottom: 6px;}
.cs-wrap .cs-1 span { 
	color: #ffd083; 
	font-size: 18px; 
	line-height: 36px;
	margin-bottom: 8px; 
	font-family: NanumBarunGothicBold;
}
.cs-wrap .cs-2 { height: 36px; }
.cs-wrap .cs-2 span { font-size: 20px; color: #ffffff; line-height: 36px;}
.cs-wrap .cs-2 span:first-child { margin-right: 46px;}

.emoji-wrap { display: none;}

.down-wrap {
    background-color: #2448b2;
    display: none;
    cursor: pointer;
}

a.down-link {color: #ffffff; text-decoration: none;}

.web-list { position: absolute; right: 0; top: 116px;}
.web-list-img {
    content: url(../img/web/img-list-02.png)
}

@media only screen and (max-width: 767px) {
    .contents {
        min-height: 635px;
    }
    .icon-wrap { display: block; text-align: center; height: 128px}
    .app-icon {
        margin: 58px 0 22px 0;
        content: url(../img/mobile/app-icon.png);
    }

    .mybury-wrap { display: block; text-align: center;}
    .mybury-icon {
        margin: 0 0 22px 0;
        content: url(../img/mobile/mybury-logo.png);
    }

    .list-img-wrap {
    	display: block; 
    	text-align: center; 
    	margin-bottom: 10px;
    	position: absolute;
    	width: 100%;
    	top: 40%;
    }
    .list-img {
        margin: 13px 0 10px 0;
        content: url(../img/mobile/img-list.png);
    }

    .emoji-wrap { display: block; text-align: center; position: absolute; bottom: 158px; width: 100%}
    .emoji-img {
        content: url(../img/mobile/emoticon.png);
    }

	.title-wrap-web { display: none;}
    .btn-wrap{display: none;}
    
    .title-wrap { display: block; text-align: center;}
    .title-wrap .text-wrap { margin: 0 0 16px 0;}
    .title-wrap .text-wrap span {
        font-size: 20px;
        line-height: 32px;
        color: #ffffff;
        font-weight: 100;
    }
    .title-wrap .text-wrap span:first-child { font-family: NanumBarunGothicLight;}
    .title-wrap .text-wrap span:last-child { font-family: NanumBarunGothicBold;}

    .cs-wrap { text-align: center; margin: 0; position: absolute; bottom: 100px; width: 100%}
    .cs-wrap .cs-1 { height: 22px; margin: 6px 0 8px 0;}
    .cs-wrap .cs-1 span {
        color: #ffd083;
        font-size: 13px;
        font-family: NanumBarunGothicBold;
        line-height: 22px;
        margin-bottom: 8px;
    }
    
    .cs-wrap .cs-2 { height: 22px; }
    .cs-wrap .cs-2 span {
        font-size: 14px;
        color: #ffffff;
        line-height: 22px;
    }
    .cs-wrap .cs-2 span:first-child { margin-right: 16px;}
    

    .down-wrap {
        display: block;
        height: 42px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        padding-top: 18px;
    }
    .down-wrap span.down { font-size: 20px; color: #ffffff; line-height: 28px; font-family: NanumBarunGothicBold;}
    .web-list {display: none;}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .contents {
        min-height: 921px;
    }

    .icon-wrap { display: block; text-align: center;}
    .app-icon {
        margin: 72px 0 24px 0;
        content: url(../img/tablet/app-icon.png);
    }
    
    .mybury-wrap { display: block; text-align: center;}
    .mybury-icon {
        margin: 0 0 26px 0;
        content: url(../img/tablet/mybury-logo.png);
    }

    .list-img-wrap {
    	display: block;
    	text-align: center;
    	margin: 0 0 48px 0;
    	position: absolute;
    	width: 100%;
    	top: 40%;
    }
    .list-img {
        content: url(../img/tablet/img-list.png);
    }

    .emoji-wrap { display: block; text-align: center; position: absolute; width: 100%; bottom: 210px;}
    .emoji-img {
        content: url(../img/tablet/emoticon.png);
    }
    
	.title-wrap-web { display: none;}
    .btn-wrap{display: none;}
    
    .title-wrap { display: block; text-align: center;}
    .title-wrap .text-wrap { margin: 0 0 32px 0;}
    .title-wrap .text-wrap span {
        font-size: 30px;
        line-height: 46px;
        color: #ffffff;
    }
    .title-wrap .text-wrap span:first-child { font-family: NanumBarunGothicLight;}
    .title-wrap .text-wrap span:last-child { font-family: NanumBarunGothicBold;}
    
    .cs-wrap { text-align: center; margin: 0; position: absolute; width: 100%; bottom: 140px;}
    .cs-wrap .cs-1 { height: 22px; margin: 16px 0 16px 0;}
    .cs-wrap .cs-1 span {
        color: #ffd083;
        font-size: 16px;
        font-family: NanumBarunGothicBold;
        line-height: 22px;
    }
    
    .cs-wrap .cs-2 { height: 22px; }
    .cs-wrap .cs-2 span {
        font-size: 18px;
        color: #ffffff;
        line-height: 22px;
    }
    .cs-wrap .cs-2 span:first-child { margin-right: 22px;}
    
    .down-wrap {
        display: block;
        height: 54px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        padding-top: 26px;
    }

    span.down {
        font-size: 24px;
        line-height: 24px;
        color: #ffffff;
        margin-top: 26px;
        font-family: NanumBarunGothicBold;
    }
    
    .web-list {display: none;}
}